h1 {
    font-size: 4vw;
    text-align: center;
}

h2 {
    font-size: 2vw;
    text-align: center;
}

body {
    text-align: center;
}

button {
    margin: 15px;
    padding: 10px;
    width: 60%;
}

#container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

#question {
    background: linear-gradient(to right, #e66465, #9198e5);
    box-shadow: 0 0 25px #413f3f;
}

#main_page {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
}

#main_page:hover {
    box-shadow: 0 0 10px #5d5b5b;
}