h1 {
    font-size: 3vw;
}

h2 {
    font-size: 1.5vw;
}

#button {
    font-size: 0.7vw;
    width:8%;
    margin-bottom: 10px;
}

#container {
    text-align: center;
    align-items: center;
    justify-content: center;

    display:flex;
    flex-direction: column;
}

#main_page {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
}

#main_page:hover {
    box-shadow: 0 0 10px #5d5b5b;
}